.Button:hover:active,
.Button:active,
.Button:focus {
  background-color: #2142b2;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue {
  background-color: #007bff;
  color: #ffffff;
}

.Blue:hover {
  background-color: #0069d9;
  color: #ffffff;
}

.Button {
  font-size: 1rem;
  align-self: center;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #2142b2;
}

.Button:active {
  background-color: #2142b2;
}

.Button:focus {
  background-color: #2142b2;
}
