.NavBar {
  background-color: #ffffff;
  border-bottom: 1px solid #dadadf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavLink {
  display: flex;
  align-items: center;
  padding: 7px;
  text-transform: uppercase;
}

.Active {
  font-weight: bold;
  color: #000000;
}

.NavLinkSpacing {
  margin-right: 30px;
}

.IconTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
