.Container {
  min-height: 431px;
  margin-bottom: 10px;
}

.dimensionsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem; /* spacing between last field and the buttons */
}

.dimensionsLabel {
  margin-right: 0.5rem;
  padding-left: 1px;
}

.dimensionInput {
  width: 5rem; /* width of the field */
  margin: 0.25rem 0.8rem 0.25rem 0; /* Spacing around the inputs */
}

/* Media query to stack dimensions vertically on medium screens */
@media (min-width: 768px) and (max-width: 1200px) {
  .dimensionsContainer {
    flex-direction: column; /* Stacks flex items vertically */
  }
  .dimensionInput {
    width: 100%; /* Ensures each input takes full width of the container */
    margin-bottom: 10px;
  }
}
