.Painting {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Painting figure,
h5 {
  margin: 0 0;
}

.Observation {
  color: #007bff;
}

.Observation:hover {
  color: #2142b2;
}

.ObservationOutline:hover {
  color: #007bff;
}
